{{!-- <<<<<<< HEAD --}}

  <div>
        <div class="main_container">
          <div class="child_container child_container1">
            <div class="sub_child_container">
              <span class="purple">What class would you like help with?</span>
              <input type="text" placeholder="Type here..">
              <button class="btn-primary bg_purple">Connect Now</button>
            </div>
            <div class="about-container">
              <p class="aboutUs">GetATutor is your new easiest way to schedule tutoring. We offer an array of subjects and grade
                levels that you may need tutoring for,
                and you can choose from our list of outstanding tutors.
              </p>
            </div>
          </div>
    <h5>{{ format_date }}</h5>
    <h5>Calendar:</h5>


   <h5>Today's Date: {{ current_date }}</h5>

   <h5>Upcoming sessions:</h5>
    <table>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Tutor</th>
        <th>Subject</th>
      </tr>

      <tr>
        <td>{{ session_date }}</td>
        <td>{{ session_time }}</td>
        <td>{{ tutor.name }}</td>
        <td>{{ subject.name }}</td>
      </tr>
    </table>

    <div class="contact">

   </div>

   {{!-- <div class="contact">

      <img src="/assets/Project2logo.JPG" class="contact-logo">
      <ul class="contact-info">
        <li><i></i> 555-555-5555</li>
        <li><i></i> 555-555-5555</li>
        <li><i></i> 555-555-5555</li>
      </ul>

    </div>
  </div> 

    </div> --}}
  </div>

