

  <div>
        <div class="main_container">
          <div class="child_container child_container1">
            <div class="sub_child_container">
              {{!-- <span class="purple">What class would you like help with?</span>
              <input type="text" placeholder="Type here..">
              <button class="btn-primary bg_purple">Connect Now</button> --}}
            </div>
            <div class="about-container">
              <p class="aboutUs">GetATutor is your new easiest way to schedule tutoring. We offer an array of subjects and grade
                levels that you may need tutoring for,
                and you can choose from our list of outstanding tutors.
              </p>
            </div>
          </div>
            
            {{!-- Dynamic Calendar for future development --}}

          {{!-- <div class="calender-container">
            <center>
            <h5>{{ format_date }}</h5>
              <h3>Calendar</h5>
            <h5>Today's Date: {{ current_date }}</h5>
          
            <h5>Upcoming sessions:</h5>
            <div class="calender-section">
              <div class="calender-sub-section">
                <label for="">Date</label>
                <span>{{ session_date }}</span>
              </div>
              <div class="calender-sub-section">
                <label for="">Time</label>
                <span>{{ session_time }}</span>
              </div>
              <div class="calender-sub-section">
                <label for="">Tutor</label>
                <span>{{ tutor.name }}</span>
              </div>
              <div class="calender-sub-section">
                <label for="">Subject</label>
                <span>{{ subject.name }}</span>
              </div>
            </div>
            </center>
          </div> --}}

  <div class="customer-container">
    <div class="customer-sub-container">
<center>

    <h1>Customer Reviews</h1>
</center>
    </div>
    <div class="customer-sub-container-2">
      <div class="customer-tile">
        <div class="customer-img img-1"></div>
        <div class="customer-review">I received the best service I could have asked for.  My tutor was super professional to deal with and helped me a lot.</div>
      </div>
      <div class="customer-tile">
        <div class="customer-img img-2"></div>
        <div class="customer-review">The entire experience was so easy and friendly.  The price was very reasonable.  I don’t know what I would have done without them.</div>
      </div>
      <div class="customer-tile">
         <div class="customer-img img-3"></div>
        <div class="customer-review">I can’t say enough good things about the quality of this company.  Highly, highly recommend using them.</div>
      </div>
       <div class="customer-tile">
         <div class="customer-img img-4"></div>
        <div class="customer-review">They helped me a lot with my college coding class and would highly recommend them!.</div>
      </div>
    </div>
  </div>




  </div>
