<div class="profile">
<h3>User: {{username}}</h3>
<h5>Email: {{email}} </h5>
<p>Subjects I'm Studying:</p>

<div id="subjectListUser" class="">
        {{#if subject.math}}
        <p>Math</p>
        {{/if}}
        {{#if subject.science}}
        <p>Science</p>
        {{/if}}
        {{#if subject.coding}}
        <p>Coding</p>
        {{/if}}
        {{#if subject.humanities}}
        <p>Humanities</p>
        {{/if}}
</div>
<a href="/rechoose-subjects" class="pickSubject" id="reChooseSubjects">Pick New Subjects</a>
</div>

<h2 class="text-center">My Appointments</h2>




{{#each appointments as |appointment|}}
<div id ="apptContainer" class="profile">

    <div>
    <h4>Date: {{appointment.date}} Time: {{appointment.time}} </h4>
     <p>Subject: {{appointment.subject}}</p> 
     <p>Tutor: {{appointment.tutor}}</p> 
     <p>Appointment ID: </p>
        <p id="apptId">{{appointment.id}}</p>
    
   </div>
<btn id="" type="click" class="deleteAppt btn btn-danger">Remove Appt</btn>
</div>
{{/each}}

<script src="/js/deleteAppt.js"></script>

{{!-- For Future development when a user selects tutor --}}

{{!-- <div id="tutorsForUser">
    <h2>My Tutors</h2>
    <ul>

    </ul>
</div> --}}

{{!-- <button id="userLogout" type="click" class="btn btn-primary">Logout</button> --}}

{{!-- <script src="/js/logout.js"></script> --}}
